.vehiculo-card {
  background: $blanco;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  border-left: 4px solid transparent;

  &:hover {
    transform: translateY(-10px);
    border-left-color: $acento;
  }

  h3 { margin: 0; color: $primario; }
  .precio { color: $acento; font-weight: bold; font-size: 1.2rem; }
  &.oculto { display: none; } // Clase para el filtrado JS
}